{% extends "base.html" %}

{% block title %}Вход - Рецепты{% endblock %}

{% block content %}
<h2 class="my-4">Вход в систему</h2>

<form method="post" action="/login/" class="login-form">
    {% csrf_token %}
    <table class="login-table">
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <div class="form-actions">
        <input type="submit" value="Войти" class="btn-submit">
        <input type="hidden" name="next" value="/">
    </div>
</form>

{% endblock %}
