{% extends "base.html" %}

{% block title %}{{ recipe.name }} - Рецепты{% endblock %}

{% block content %}
<h2 class="my-4">{{ recipe.name }}</h2>

<h4>Ингредиенты:</h4>
<ul>
    {% for ingredient in ingredients %}
    <li>
        {{ ingredient.name }} - {{ ingredient.amount }} {{ ingredient.measure_unit.short_name }}
    </li>
    {% empty %}
    <li>Нет ингредиентов</li>
    {% endfor %}
</ul>

<h4>Стоимость и вес:</h4>
<p>Общая стоимость: {{ cost }} руб.</p>
<p>Общий вес: {{ weight }} руб.</p>

{% endblock %}
