<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>О нас - Рецептор</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .recipe-item {
            padding: 10px;
            margin-bottom: 10px;
            background-color: #343a40;
            border: 1px solid #495057;
            border-radius: 5px;
        }
        .recipe-item a {
            color: #f8f9fa;
            text-decoration: none;
        }
        .recipe-item:hover {
            background-color: #495057;
        }
    </style>
</head>
<body class="bg-dark text-white">
<header class="bg-dark text-light py-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h2 class="mb-0">О нас</h2>
        <nav>
            <a href="/" class="btn btn-primary mx-2">Главная</a>
            <a href="/about" class="btn btn-secondary mx-2">О нас</a>
        </nav>
    </div>
</header>

<main class="container">
    <h2 class="my-4">О нашем проекте</h2>
    <p class="lead">Добро пожаловать на сайт "Рецептор" — ваш надежный источник вкусных и разнообразных кулинарных идей! Мы предлагаем множество рецептов, которые подойдут для любого случая, от простых до сложных. Все рецепты в нашем проекте — проверены временем и созданы с любовью к кулинарии!</p>
</main>

<footer class="bg-dark text-light py-4">
    <div class="container text-center">
        <p>&copy; 2024 Рецептор. Все права защищены.</p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
